.header {
  background-color: var(--tertiary-color);

  &__wrapper {
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header__headline {
      font-size: 36px;
      color: #cccccc;
      cursor: default;
    }

    .header__theme-button {
      width: 64px;
      height: 64px;
      color: transparent;
      cursor: pointer;
      border: 0px;
      border-radius: 100%;
      transition: 0.5s;

      &:hover {
        box-shadow: white 0px 0px 20px;
      }

      .header__theme-button-icon {
        width: 64px;
        height: 64px;
      }
    }
  }
}
