.header {
  background-color: var(--tertiary-color);

  &__wrapper {
    padding: 20px 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1920px) {
      padding: 20px 50px;
    }

    @media (max-width: 768px) {
      padding: 20px 30px;
    }

    @media (max-width: 425px) {
      padding: 20px;
    }

    @media (max-width: 375px) {
      padding: 10px;
    }

    .header__headline {
      font-family: "Inter";
      font-size: 36px;
      color: var(--text-color);
      cursor: default;

      @media (max-width: 425px) {
        font-size: 28px;
      }
    }

    .header__theme-button {
      width: 64px;
      height: 64px;
      color: transparent;
      cursor: pointer;
      border: 0px;
      border-radius: 100%;
      transition: 0.5s;

      &:hover {
        box-shadow: var(--text-color) 0px 0px 20px;
      }

      .header__theme-button-icon {
        width: 64px;
        height: 64px;
        border-radius: 100%;
      }
    }
  }
}
