.header {
  background-color: #333333;

  &__wrapper {
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header__headline {
      font-size: 36px;
      color: #cccccc;
    }

    .header__theme-button {
      width: 48px;
      height: 48px;
      color: transparent;
      cursor: pointer;
      border: 0px;
      border-radius: 100%;
      transition: .5s;

      &:hover {
        box-shadow: white 0px 0px 20px;
      }

      .header__theme-button-icon {
        width: 48px;
        height: 48px;
      }
    }
  }
}
