.wrapper {
  width: 100%;
  margin: 0px auto;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.dark-theme {
  --text-color: white;
  --primary-color: #252127;
  --secondary-color: #542869;
  --tertiary-color: #413b44;
  --special-color: #2bb19a;
}

.light-theme {
  --text-color: black;
  --primary-color: #decce7;
  --secondary-color: #9949be;
  --tertiary-color: #d1cdd3;
  --special-color: #6ef1dc;
}

.active {
  color: var(--special-color) !important;
  background-color: var(--text-color) !important;
}